<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="folderForWork" value="C:\\Program Files\\WinRAR\\" />
    </appSettings>
    <connectionStrings>
        <add name="ApplicationServices" connectionString="Data Source=ORCL;User Id=sibintech_normal;Password=sibintech_pass;Enlist=false;"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <qualifyAssembly partialName="Oracle.DataAccess" fullName="Oracle.DataAccess, Version=2.112.3.0, Culture=Neutral, PublicKeyToken=89b483f429c47342"/>
<!--
        <dependentAssembly>
          <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342"/>
          <bindingRedirect oldVersion="2.112.1.2" newVersion="2.111.7.20"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342"/>
          <bindingRedirect oldVersion="2.112.3.0" newVersion="2.111.7.20"/>
        </dependentAssembly>
        
        -->

      </assemblyBinding>
    </runtime>
</configuration>